.homeWrapper{
    position: relative;
    top: 25%;
}
.background{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1920px;
    background-size: cover;
    background-attachment:fixed !important;
    background-repeat: no-repeat;
    z-index: -1;
}
.background::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #262e6c, transparent);
    z-index: 1;
}
.taskbar{
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}
.taskbarLink{
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0px 30px;
}
.taskbarIcon{
    width: 30px;
    transition: 400ms ease-in-out;
    margin: 5px 10px;
}
.taskbarText{
    transition: 400ms ease-in-out;
}
.taskbarLink:hover .taskbarIcon{
    cursor: pointer;
    transform: scale(1.15);
    font-size: 16px;
}
.taskbarLink:hover .taskbarText{
    cursor: pointer;
    transform: scale(1.15);
    font-size: 16px;
}
.weatherInfo{
    display: grid;
    grid-template-columns: 58% 36.8%;
    justify-content: space-between;
    position: relative;
    top: 20%;
    width: 73%;
    margin: 0 auto;
    color: white;
}
.currentDay{
    border-radius: 20px;
    min-width: 750px;
}
.minMaxTemperature{
    font-size: 20px;
    position: relative;
    top: -20px;
}
.weatherDetails{
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
.temperature{
    font-size: 80px;
    font-weight: 400;
    position: relative;
    top: 8%;
    min-width: 202px;
}
.location{
    font-size: 80px;
    font-weight: 400;
    position: relative;
    top: 5%;
    text-align: center;
    width: 50%;
    min-width: 350px;
}
.dateTime{
    font-size: 18px;
    position: relative;
    bottom: 0%;
    right: 6%;
    margin: 15px;
    text-align: right;
    width: 100%;
}
.icon{
    position: relative;
    top: 8%;
    left: 0%;
    width: 200px;
}
.icon img{
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.description{
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.weatherDisplayAttributes{
    display: flex; 
    justify-content: space-between; 
    position: relative;
    top: -10px;
    width: 100%;
    padding-right: 10px;
    margin: 20px 0px;
} 
.updateButton{
    position: absolute;
    top: -20%;
    background: none;
    border: none;
    color: white;
    padding: 5px 0px;
    transition: 400ms ease;
}
.updateButton:hover{
    transform: rotate(45deg);
}
.update{
    margin: 10px;
}
.weatherOptions{
    position: relative;
    border-radius: 20px;
    min-width: 460px;
}
.currentLocation{
    text-decoration: none;
    text-align: left;
    color: white;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cell{
    padding: 20px;
    transition: 400ms ease-in-out;
}
.weatherOptionsIcon{
    width: 50px;
}
.locationText{
    font-size: 36px;
    color: white;
}
.authenticate:hover .cell{
    cursor: pointer;
    transform: scale(1.1);
}
.selectLocationOption{
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}
.fiveDay{
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: space-between;
    position: relative;
    width: 75%;
    top: 25%;
    margin: 0 auto;
}
.weatherCard{
    margin: 25px auto;
    width: 85%;
    height: 275px;
    border-radius: 20px;
}
.weatherCard:hover, .currentDay:hover{
    cursor: pointer;
}
mat-card{
    background-color: rgba(70, 70, 70, 0.096);
    backdrop-filter: blur(15px) !important;
    color: white;
    box-shadow: 0px 0px 35px black !important;
    border: none !important;
}
.degreesLarge{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: -35px;
    left: -5px;
    text-align: center;
}
.degreesMedium{
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -23px;
    left: -5px;
}
.degreesSmall{
    font-size: 7px;
    font-weight: 600;
    position: relative;
    top: -7px;
    left: -1px;
}
.degreesMinMax{
    font-size: 7px;
    font-weight: 600;
    position: relative;
    top: -9px;
    left: -1px;
}
.minTemp{
    color: rgb(230, 230, 230);
}
.cardTemperatures{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 45%;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
.cardMinMaxTemperature{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.cardDate{
    position: absolute;
    top: 120%;
    left: 5%;
    width: 200%;
    font-size: 14px;
    text-align: left;
}
.cardWeatherIcon{
    position: absolute;
    top: 2%;
    right: 5%;
}
.cardDescription{
    text-align: center;
    font-size: 18px;
    width: 100%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardWeatherDetails{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 87%;
    top: 65%;
}
.cardUvIndex{
    position: relative;
}
.cardWind{
    position: relative;
}
.cardHumidity{
    position: relative;
}
.cardPrecipitaionProbability{
    position: relative;
}
.windIcon{
    width: 25px;
    margin: 5px;
}
.humidityIcon{
    width: 25px;
    margin: 5px;
}
::ng-deep .mat-form-field-label {
    color: white !important;
}
::ng-deep.mat-form-field-underline {
    background-color: white !important;
}
::ng-deep.mat-form-field-ripple {
    background-color: white !important;;
}
::ng-deep input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}